
<script>
   $.backstretch("http://www.gamedots.mx/media/gd/animated-gifs-of-fighting-game-backgrounds-8.gif");
</script>
<div class="container">
      <div class="col-md-4">
      <a href="<%= pages_superman_url %>"> <img class="tam1" src="https://lc-www-live-s.legocdn.com/r/www/r/catalogs/-/media/catalogs/characters/dimensions/mugshots/71236_1to1_mf_mugshot_superman_168.png?l.r2=1891380887" alt=""></a>
      </div>


    <div class="col-md-4">
    <a href="<%= pages_batman_url %>">  <img class="tam2" src="https://mi-od-live-s.legocdn.com/r/www/r/catalogs/-/media/catalogs/characters/dimensions/mugshot%20december%202016/71200_71170-71174_1to1_mf_mugshot_batman_336.png?l.r2=-1434101541" alt=""> </a>
    </div>
</div>

<div class="container">
  <div class="col-md-4">
    <form action="" method="post">
      <input name="name" value="">
      <input name="email" value=""><br>
      <input type="submit" name="enviar" value="enviar">
    </form>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <form action="" method="post">
      <input name="name" value="">
      <input name="email" value=""> <br>
      <input type="submit" name="enviar" value="enviar">
    </form>
  </div>

</div>
