.tam1
{
  display: inline-block;
  width: 30%;

}
.tam2
{
  display: inline-block;
  width: 30%;
  margin-left: 100px;

}
.font1
{
  color: white;
  text-align: center;
}
.font2
{
  color:white;
}
.align
{
  display: inline-block;
  margin-right: 200px;
}
